\#*
*~
*.*~
*.log
*.aux
*.pyc
*.hst
*.pyg
*.ver
*.pyc
.sconsign.dblite
Backup of*
build/
*.exe.embed.manifest
*.exe.embed.manifest.res
*.exe.intermediate.manifest
*.ilk
*.lastbuildstate
*.pdb
*.sdf
*.suo
*.vcxproj.filters
*.vcxproj.user
*.obj
*.rc
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.ipch
**/_UpgradeReport_Files/
UpgradeLog.XML
*.idb
**/Debug/*.exe
**/.DS_Store
GPATH
GRTAGS
GTAGS
TAGS
bin/
lib/

